body {
  background-color: #f5f5f5;
}

body .container {
  display: block;
  margin: 20vh auto;
  background-color: white;
  padding: 1.5em;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

body .container:hover {
  box-shadow: 0px 23px 46px -23px rgba(0, 0, 0, 0.75);
  transform: translateY(-10px);
};

body .container .columns img {
  background-color: #ccc;
}
